In [0]:
!pip install -U -q PyDrive

In [0]:
import pandas as pd
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
!mkdir data

In [0]:
file_id = '1kgByP3EZHL8xAm-oGaBpf0-fPdVIYRaY'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('data/feed-views.log')

In [0]:
df = pd.read_csv('data/feed-views.log', sep='\t', skiprows=[2, 3], skipfooter=2,
                 header=None, names=['date_time', 'user'], index_col='date_time'
                 )

In [10]:
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [11]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [12]:
df.count()

user    1072
dtype: int64

In [0]:
df.to_csv('data/feed-views-semicolon.log', sep=';')