In [0]:
!pip install -U -q PyDrive

In [0]:
import pandas as pd
import numpy as np
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
!mkdir data

In [0]:
file_id = '1XTHFtpUhkjC45L9Zg8Z5NN_SC46gWXf8'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('data/auto.json')

In [0]:
df = pd.read_json('data/auto.json', orient='records')

In [7]:
df.head()

      CarNumber  Refund   Fines    Make  Model
0  Y163O8161RUS       2  3200.0    Ford  Focus
1   E432XX77RUS       1  6500.0  Toyota  Camry
2   7184TT36RUS       1  2100.0    Ford  Focus
3  X582HE161RUS       2  2000.0    Ford  Focus
4  92918M178RUS       1  5700.0    Ford  Focus

In [8]:
df.loc[df['Fines'] > 2100]

        CarNumber  Refund         Fines        Make    Model
0    Y163O8161RUS       2   3200.000000        Ford    Focus
1     E432XX77RUS       1   6500.000000      Toyota    Camry
4    92918M178RUS       1   5700.000000        Ford    Focus
6    X4128H125RUS       1   8238.219895        Ford    Focus
7    H234YH197RUS       2   6000.000000        Ford    Focus
..            ...     ...           ...         ...      ...
817  O718MM163RUS       2   8238.219895        Ford    Focus
818  7065C8197RUS       2  11400.000000  Volkswagen   Passat
819  O22097197RUS       1  24300.000000        Ford    Focus
821  M0309X197RUS       1  22300.000000        Ford    Focus
824  H419XE197RUS       2   8238.219895      Toyota  Corolla

[513 rows x 5 columns]

In [11]:
df.loc[(df['Fines'] > 2100) & (df['Refund'] == 2)]

        CarNumber  Refund         Fines        Make    Model
0    Y163O8161RUS       2   3200.000000        Ford    Focus
7    H234YH197RUS       2   6000.000000        Ford    Focus
9    707987163RUS       2   2200.000000        Ford    Focus
10   K330T8197RUS       2   8200.000000       Skoda  Octavia
14   M592CH197RUS       2   8238.219895       Skoda  Octavia
..            ...     ...           ...         ...      ...
815  O136HO197RUS       2   7800.000000      Toyota  Corolla
816  O68897197RUS       2  12300.000000        Ford    Focus
817  O718MM163RUS       2   8238.219895        Ford    Focus
818  7065C8197RUS       2  11400.000000  Volkswagen   Passat
824  H419XE197RUS       2   8238.219895      Toyota  Corolla

[341 rows x 5 columns]

In [13]:
df.loc[df['Model'].isin(['Focus', 'Corolla'])]

        CarNumber  Refund         Fines    Make    Model
0    Y163O8161RUS       2   3200.000000    Ford    Focus
2     7184TT36RUS       1   2100.000000    Ford    Focus
3    X582HE161RUS       2   2000.000000    Ford    Focus
4    92918M178RUS       1   5700.000000    Ford    Focus
5    E53488152RUS       2   1800.000000    Ford    Focus
..            ...     ...           ...     ...      ...
820  Y163O8161RUS       2   1600.000000    Ford    Focus
821  M0309X197RUS       1  22300.000000    Ford    Focus
822  O673E8197RUS       2    600.000000    Ford    Focus
823  8610T8154RUS       1   2000.000000    Ford    Focus
824  H419XE197RUS       2   8238.219895  Toyota  Corolla

[671 rows x 5 columns]

In [14]:
df.loc[df['CarNumber'].isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS',
                             'H115YO163RUS', 'X758HY197RUS'])]

        CarNumber  Refund          Fines  Make  Model
31   92928M178RUS       1    8238.219895  Ford  Focus
40   H115YO163RUS       1    2200.000000  Ford  Focus
58   92928M178RUS       2    1200.000000  Ford  Focus
84   7788KT197RUS       2   12000.000000  Ford  Focus
118  X758HY197RUS       2   24200.000000  Ford  Focus
191  X758HY197RUS       2   72600.000000  Ford  Focus
221  Y7689C197RUS       1   27000.000000  Ford  Focus
230  92928M178RUS       1     600.000000  Ford  Focus
263  H115YO163RUS       1    8238.219895  Ford  Focus
338  H115YO163RUS       2    1100.000000  Ford  Focus
350  7788KT197RUS       2    8238.219895  Ford  Focus
454  7788KT197RUS       1   20000.000000  Ford  Focus
482  X758HY197RUS       2  145200.000000  Ford  Focus
554  92928M178RUS       1    1200.000000  Ford  Focus
625  Y7689C197RUS       2    9000.000000  Ford  Focus
648  Y7689C197RUS       2   45000.000000  Ford  Focus
650  7788KT197RUS       2    4000.000000  Ford  Focus
764  Y7689C197RUS       1   36000.000000  Ford  Focus
773  92928M178RUS       2    3000.000000  Ford  Focus

In [17]:
df.groupby(['Make']).median()['Fines']

Make
Audi          4200.0
BMW           3000.0
Ford          3300.0
Skoda         3250.0
Toyota        7500.0
Volkswagen    4300.0
Volvo         6800.0
Name: Fines, dtype: float64

In [18]:
df.groupby(['Make', 'Model']).median()['Fines']

Make        Model
Ford        Focus      3200.0
            Mondeo     7650.0
Skoda       Octavia    3250.0
Toyota      Camry      7200.0
            Corolla    7700.0
Volkswagen  Golf       4800.0
            Jetta      2800.0
            Passat     3200.0
            Touareg    5800.0
Name: Fines, dtype: float64

In [20]:
df.groupby(['Make', 'Model']).min()['Fines']

Make        Model
Ford        Focus       100.0
            Mondeo     1100.0
Skoda       Octavia     300.0
Toyota      Camry       500.0
            Corolla     900.0
Volkswagen  Golf        200.0
            Jetta       500.0
            Passat      100.0
            Touareg     500.0
Name: Fines, dtype: float64

In [21]:
df.groupby(['Make', 'Model']).max()['Fines']

Make        Model
Ford        Focus      180000.000000
            Mondeo      46200.000000
Skoda       Octavia    145000.000000
Toyota      Camry       22400.000000
            Corolla     34300.000000
Volkswagen  Golf       168000.000000
            Jetta       46000.000000
            Passat      29700.000000
            Touareg      8238.219895
Name: Fines, dtype: float64

In [22]:
df.groupby(['Make', 'Model']).std()['Fines']

Make        Model
Ford        Focus      14357.165589
            Mondeo     16653.728311
Skoda       Octavia    23065.157122
Toyota      Camry       6320.442381
            Corolla     9634.019607
Volkswagen  Golf       35316.403695
            Jetta      17743.026799
            Passat      6735.528365
            Touareg     3055.734889
Name: Fines, dtype: float64

In [28]:
df.groupby(['CarNumber']).sum()['Fines'][::-1]

CarNumber
Y973O8197RUS    112638.219895
Y969O8197RUS     31200.000000
Y967O8197RUS      4000.000000
Y966O8197RUS     31200.000000
Y965O8197RUS      3200.000000
                    ...
705387163RUS       700.000000
705287163RUS      2000.000000
704987163RUS      8238.219895
704787163RUS      2800.000000
704687163RUS      1400.000000
Name: Fines, Length: 531, dtype: float64

In [29]:
df.loc[df['CarNumber'] == 'Y973O8197RUS']

        CarNumber  Refund         Fines  Make  Model
53   Y973O8197RUS       2   8238.219895  Ford  Focus
216  Y973O8197RUS       1  34800.000000  Ford  Focus
462  Y973O8197RUS       1  69600.000000  Ford  Focus